node_modules
dist
out
.DS_Store
.eslintcache
*.log*

visuals/presets/
visuals/textures/
visuals/*.zip
vendor/
_plugin_extract/
resources/projectm/build/
resources/mpv/linux-x64/runtime/
src-tauri/target/
build/
src-cpp/build/
*.o

